/**=====================
    52. Datepicker CSS Start
==========================**/

//colors
.clockpicker-canvas {
  line {
    stroke: var(--theme-default);
  }
}

.clockpicker-canvas-fg,
.clockpicker-canvas-bearing {
  fill: var(--theme-default);
}

.daterangepicker {

  td,
  th {
    &.available {
      &:hover {
        background-color: var(--theme-default);
      }
    }
  }
}

.datepicker--day-name {
  color: $black;
  font-weight: bold;
}

.datepicker--cell {
  &.-current- {
    color: $black;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid var(--theme-default);
  }

  &.-focus- {
    background: var(--theme-default);
    color: $white;
  }

  &.-selected- {
    background: var(--theme-default);
  }
}

.daterangepicker.ltr {
  color: $dark-gray;
  z-index: 8;

  tr {
    font-size: 13px;

    td {
      height: 34px;
      width: 34px;

      &.in-range {
        background-color: $auth-bg-color;
      }

      &.active {
        background-color: var(--theme-default);
      }
    }
  }

  .ranges {
    float: none;

    li {
      color: var(--theme-default);

      &:hover {
        background-color: var(--theme-default);
        border: 1px solid var(--theme-default);
        color: $white;
      }

      &.active {
        background-color: var(--theme-default);
        border: 1px solid var(--theme-default);
        color: $white;
      }
    }
  }

  .calendar-time select {
    color: $dark-gray;
  }
}

.datetime-picker {
  .bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
  }
}

.date-range-picker {
  .theme-form {
    // margin-bottom: 30px;
  }

  >div {
    &:last-child {
      .theme-form {
        margin-bottom: 0px;
      }
    }
  }



}

.daterangepicker {
  &:before {
    border-bottom: 7px solid $light-semi-gray;
  }

  .daterangepicker_input {
    i {
      font-size: 14px;
      color: $semi-dark;
    }
  }

  .input-mini {
    border-color: $light-semi-gray !important;
    font-size: 14px;
    color: $semi-dark;
  }

  th,
  td {
    height: 34px;
    width: 34px;

    &:hover {
      color: $dark-color;
    }

    &.prev,
    &.next {
      color: $white;
      height: 34px;
      width: 34px;
      background-color: var(--theme-default);
    }

    &.month {
      color: var(--theme-default);
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}


.calendar-basic {
  #external-events {
    padding: 20px;
    border: 1px solid $light-background;
    margin-bottom: 10px;

    h4 {
      margin-bottom: 14px;
    }

    p {
      margin-top: 12px;
    }

    .fc-h-event {
      padding: 12px;
      background-color: var(--theme-default);
      border: 1px solid var(--theme-default);

      +.fc-h-event {
        margin-top: 10px;
      }

      .fc-event-main {
        font-size: 13px;
      }
    }
  }

  .calendar-default {
    .fc {
      .fc-button-primary {
        background-color: var(--theme-default);
        border-color: var(--theme-default);
      }
    }

    .fc-daygrid-dot-event {
      .fc-event-title {
        text-overflow: ellipsis;
      }
    }

    .fc {
      td[role="presentation"] {
        border: 0;
      }

      .fc-daygrid-day-number,
      .fc-col-header-cell-cushion {
        color: $theme-body-font-color;
      }

      .fc-button {
        .fc-icon {
          height: 23px;
        }
      }
    }

    .fc-h-event {
      padding: 2px;
      background-color: var(--theme-default);
      border: 1px solid var(--theme-default);
    }

    .fc-toolbar-chunk {
      .fc-button-group {
        ~.fc-today-button {
          margin: 0 8px;
        }
      }
    }
  }
}





/**=====================
   52. Datepicker CSS End
==========================**/